nav {
    position: absolute;
}

.btn {
	margin-bottom: 5px;
}
table td img {
    width: 100px;
    height: 60px;
}
table td tr{
	background-color: #303337 !important;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #FFF;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
	color: #fff !important;
	border: 1px solid black;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
    background-color: #303337c2;
}

table.dataTable tbody tr {
    background-color: #303438;
}

table.dataTable.display tbody tr.even>.sorting_1, 
table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: #303438;
}
table.dataTable.display tbody tr.even>.sorting_1:hover, 
table.dataTable.order-column.stripe tbody tr.even>.sorting_1:hover {
    background-color: #25282b;
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #303337c2;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #25282b;
}


.nav-link{
	color: #ee4040c0;
}



@media (max-width: 576px) { 
	.datatable_tbl_wrapper, table {
		display: block !important;
		overflow-x: auto !important;
	}
}

