*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
$gridnum : 12 ;

%grid {
    float: left;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background-color: #ddd;
    border: 1px solid #f00;
}

@for $i from 1 through $gridnum {
    .col-#{$i} {
        width: (100% / ( $gridnum / $i));
        @extend %grid;
    }
}
